header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
  }
  
  .logo {
    height: 40px; /* Adjust height if necessary */
    width: 40px;  /* Adjust width if necessary */
    background-image: url("../images/logo.png"); /* Path to your logo */
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 20px;
  }
  